<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
    <div id="app">
       <span th:replace="sidebar :: sidebar"></span>
        <div id="main">
            <span th:replace="header :: header"></span>
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Datatable</h3>
                <p class="text-subtitle text-muted">We use simple-datatables. </p>
            </div>
            
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h3>Manage Categories | [[${pageTitle}]]</h3>
            </div>
           
                
                    <form th:action="@{/categories/save}" method="post" enctype="multipart/form-data"
                    onsubmit="return checkUnique(this)"
                    	 th:object="${category}">
                    <input type="hidden" th:field="*{id}" />
                 <div class="card-body">
                        <div class="row">
                        
                        	 <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Category Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128">
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Alias</label>
                                    <input type="text" th:field="*{alias}" required minlength="3" maxlength="64" class="form-control"  name="fname-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Parent Category</label>
                                    <select class="form-control" th:field="*{parent}">
										<option value="0">[No Parent]</option>
										
										<th:block th:each="cat : ${listCategories}">
										<option th:value="${cat.id}">[[${cat.name}]]</option>
										</th:block>
										
									</select>
                                </div>
                            </div>
                             
                             <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username-column">Enabled</label>                            
                                    <input type="checkbox" th:field="*{enabled}" />
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username-column">Image</label> 
                                    <input type="hidden" th:field="*{image}" />                           
                                    <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg, image/jpg"
                                    th:required="${category.imagePath == null}"/>
                                    <img id='thumbnail' alt="Image preview" th:src="@{${category.imagePath}}" class="img-fluid" style="height: 150px;">
                                </div>
                            </div>
                           
                  
                           
                        </diV>

                                
                        <div class="clearfix">
                       		<div class="text-center">
								<input type="submit" value="Submit" class="btn btn-primary m-3"  />
								<input type="button" value="Cancel" class="btn btn-danger" id="buttonCancel" />
							</div>     
                        </div>
                         </div>
                    </form>
                    
                   <div th:replace="modal_fragments :: modal_dialog"></div>   
           
        </div>

    </section>
</div>

<span th:replace="footer:: footer"></span>
        </div>
    </div>
    
<script type="text/javascript">
	moduleURL = "[[@{/categories}]]";
	
	function checkUnique(form) {
		catId = $("#id").val();
		catName = $("#name").val();
		catAlias = $("#alias").val();
		
		csrfValue = $("input[name='_csrf']").val();
		
		url = "[[@{/categories/check_unique}]]";
		
		params = {id: catId, name: catName, alias: catAlias, _csrf: csrfValue};
		
		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "DuplicateName") {
				showWarningModal("There is another category having same name " + catName);	
			} else if (response == "DuplicateAlias") {
				showWarningModal("There is another category having same alias " + catAlias);
			} else {
				showErrorModal("Unknown response from server");
			}
			
		}).fail(function() {
			showErrorModal("Could not connect to the server");
		});
		
		return false;
	}
	
</script>
<script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
