<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard - TimeZone Admin Dashboard</title>
</head>
<body>
	  <div id="sidebar" class='active' th:fragment="sidebar">
            <div class="sidebar-wrapper active">
   				 <div class="sidebar-header">
       					 <img th:src="@{/images/logo.jpg}">
   				 </div>
     <div class="sidebar-menu">
        <ul class="menu">
                         
                <li class='sidebar-title'>Main Menu</li>
                           
                <li class="sidebar-item active ">
                    <a href="index.html" class='sidebar-link'>
                        <i data-feather="home" width="20"></i> 
                        <span>Dashboard</span>
                    </a>
                    
                </li>
                             
                <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i> 
                        <span>Authentication</span>
                    </a>
                 
                    <ul class="submenu ">
                        
                        <li>
                            <a href="component-alert.html">New User</a>
                        </li>                               
                        
                        <li>
                            <a href="table-datatable.html">Datatable</a>
                        </li>                                  
                   
                    </ul>
                    
                </li>
                
            
                
                <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i> 
                        <span>Category</span>
                    </a>

                    
                    <ul class="submenu ">
                        
                        <li>
                            <a href="component-extra-avatar.html">New Category</a>
                        </li>
                        
                        <li>
                            <a href="component-extra-divider.html">View Category</a>
                        </li>
                        
                    </ul>
                    
                </li>
                
                
                  <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="bookmark" width="20"></i> 
                        <span>Brands</span>
                    </a>

                    
                    <ul class="submenu ">
                        
                        <li>
                            <a href="component-extra-avatar.html">New Brand</a>
                        </li>
                        
                        <li>
                            <a href="component-extra-divider.html">View Brand</a>
                        </li>
                        
                    </ul>
                    
                </li>
                
                
                 <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="zap" width="20"></i> 
                        <span>Product</span>
                    </a>

                    
                    <ul class="submenu ">
                        
                        <li>
                            <a href="component-extra-avatar.html">New Product</a>
                        </li>
                        
                        <li>
                            <a href="component-extra-divider.html">View Product</a>
                        </li>
                        
                        <li>
                            <a href="component-extra-divider.html">Review</a>
                        </li>
                        
                    </ul>
                    
                </li>
                
                 <li class='sidebar-title'>Forms &amp; Tables</li>
                
            
                
            
            
                
                <li class="sidebar-item  ">

                    <a href="form-layout.html" class='sidebar-link'>
                        <i data-feather="layout" width="20"></i> 
                        <span>Customers</span>
                    </a>

                    
                </li>
                
            
                
                <li class="sidebar-item  ">

                    <a href="form-editor.html" class='sidebar-link'>
                        <i data-feather="layers" width="20"></i> 
                        <span>Shipping Rates</span>
                    </a>

                    
                </li>
                
            
                
                <li class="sidebar-item  ">

                    <a href="table.html" class='sidebar-link'>
                        <i data-feather="grid" width="20"></i> 
                        <span>Orders</span>
                    </a>

                    
                </li>
                
            
                
                <li class="sidebar-item  ">

                    <a href="table-datatable.html" class='sidebar-link'>
                        <i data-feather="file-plus" width="20"></i> 
                        <span>Sale Reports</span>
                    </a>

                    
                </li>
            
               
                
            
                
              
  
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        
        </div>
</body>
</html>