<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
    <div id="app">
       <span th:replace="sidebar :: sidebar"></span>
        <div id="main">
            <span th:replace="header :: header"></span>
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Datatable</h3>
                <p class="text-subtitle text-muted">We use simple-datatables. </p>
            </div>
            
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h3>Manage Brands | [[${pageTitle}]]</h3>
            </div>
           
                
                    <form th:action="@{/brands/save}" method="post" enctype="multipart/form-data"
                    onsubmit="return checkUnique(this)"
                    	 th:object="${brand}">
                    <input type="hidden" th:field="*{id}" />
                 <div class="card-body">
                        <div class="row">
                        
                        	 <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Brand Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="45">
                                </div>
                            </div>
                            
                           
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Select one or more categories</label>
                                    <select class="form-control" th:field="*{categories}" multiple required>
										
										<th:block th:each="cat : ${listCategories}">
											<option th:value="${cat.id}">[[${cat.name}]]</option>
										</th:block>
										
									</select>
                                </div>
                            </div>
                             
                           <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Chosen categories</label>
                                    <div id="chosenCategories">
									</div>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username-column">Brand Logo</label> 
                                    <input type="hidden" th:field="*{logo}" />                         
                                    <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg, image/jpg"
                                    th:required="${brand.id == null}"/>
                                    <img id='thumbnail' alt="Image preview" th:src="@{${brand.logoPath}}" class="img-fluid" style="height: 100px;">
                                </div>
                            </div>
                           
                  
                           
                        </diV>

                                
                        <div class="clearfix">
                       		<div class="text-center">
								<input type="submit" value="Submit" class="btn btn-primary m-3"  />
								<input type="button" value="Cancel" class="btn btn-danger" id="buttonCancel" />
							</div>     
                        </div>
                         </div>
                    </form>
                    
                   <div th:replace="modal_fragments :: modal_dialog"></div>   
           
        </div>

    </section>
</div>

<span th:replace="footer:: footer"></span>
        </div>
    </div>
    
<script type="text/javascript">
moduleURL = "[[@{/brands}]]";
	
$(document).ready(function() {
	dropdownCategories = $("#categories");
	divChosenCategories = $("#chosenCategories");
	
	dropdownCategories.change(function() {
		divChosenCategories.empty();
		showChosenCategories();
	});
	
	showChosenCategories();
});

function showChosenCategories() {
	dropdownCategories.children("option:selected").each(function() {
		selectedCategory = $(this);
		catId = selectedCategory.val();
		catName = selectedCategory.text().replace(/-/g, "");
		
		divChosenCategories.append("<span class='badge bg-danger m-1'>" + catName + "</span>");
	});
}

function checkUnique(form) {
	brandId = $("#id").val();
	brandName = $("#name").val();
	
	csrfValue = $("input[name='_csrf']").val();
	
	url = "[[@{/brands/check_unique}]]";
	
	params = {id: brandId, name: brandName, _csrf: csrfValue};
	
	$.post(url, params, function(response) {
		if (response == "OK") {
			form.submit();
		} else if (response == "Duplicate") {
			showWarningModal("There is another brand having same name " + brandName);	
		} else {
			showErrorModal("Unknown response from server");
		}
		
	}).fail(function() {
		showErrorModal("Could not connect to the server");
	});
	
	return false;
}	
	
</script>
<script th:src="@{/js/common_form.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
